.flex_container_preview {
  background-image: url('../../../public/img/tochki_svet.jpg');
  background-repeat: round;
  width: 70%;
  margin: auto;
  padding: 40px 0;
}

.flex_item_preview {
  height: 100%;
  padding: 1.2em;
  color: white;
  width: 100%;
  font-size: 40px;
}

.input_preview {
  width: 90%;
  border-radius: 30px;
  padding: 15px;
  display: block;
  margin: auto;
}

.title_preview {
  font-weight: bold;
}

.header_type_films {
  width: 65%;
  margin: auto;
}
