.flex_container_header {
  display: flex;
}

.flex_item_header {
  text-align: center;
  font-size: 1.1em;
  padding: 1.2em;
  color: white;
  width: 100%;
}

.color_header {
  background-color: rgb(4, 4, 100);
}

.a {
  color: white;
  text-decoration: none;
}
